<h1 id="top">Component Communication Cookbook</h1>

<a href="component-interactions#parent-to-child">
  Pass data from parent to child with input binding ("Technologies")
</a>
<br>
<a href="component-interactions#parent-to-child-setter">
  Intercept input property changes with a setter ("Master")
</a>
<br>
<a href="component-interactions#parent-to-child-on-changes">
  Intercept input property changes with <i>ngOnChanges</i> ("Source code version")
</a>
<br>
<a href="component-interactions#child-to-parent">
  Parent listens for child events ("Colonize Universe")
</a>
<br>
<a href="component-interactions#parent-to-child-local-var">
  Parent to child via <i>local variable</i> ("Countdown to Liftoff")
</a>
<br>
<a href="component-interactions#parent-to-viewchild">
  Parent calls <i>ViewChild</i> ("Countdown to Liftoff")
</a>
<br>
<a href="component-interactions#bidirectional-service">
  Parent and children communicate via a service ("Mission Control")
</a>
<br>



<div id="parent-to-child">
  <app-technology-parent></app-technology-parent>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>

<div id="parent-to-child-setter">
  <app-name-parent></app-name-parent>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>

<div id="parent-to-child-on-changes">
  <app-version-parent></app-version-parent>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>

<div id="child-to-parent">
  <app-vote-taker></app-vote-taker>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>
<div id="parent-to-child-local-var">
  <app-countdown-parent></app-countdown-parent>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>
<div id="parent-to-viewchild">
  <app-countdown-parent-viewchild></app-countdown-parent-viewchild>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>
<div id="bidirectional-service">
  <app-mission-control></app-mission-control>
</div>
<a href="component-interactions#top" class="to-top">Back to Top</a>
<hr>

